{% extends 'adminbase.html.twig' %}

{% block body %}
    <div class="login-box">
        <h1 class="login-logo">{% block title %}Admin Login{% endblock %}</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="login-box-body">
            <form action="{{ path('admin_login_check') }}" method="post">
                <div class="form-group has-feedback">
                    <input type="name" class="form-control" id="username" name="_username" placeholder="Name" value="{{ last_username }}">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>

    </div>
{% endblock %}

{% block bodystyle %}hold-transition login-page{% endblock %}