{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-8">
        <h1>{% block title %}New Post{% endblock %}</h1>
    <section class="content">
        <p>
            <a href="{{ path('cabinet_index') }}" class="btn btn-primary">Back to the cabinet</a>
        </p>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Fill form</h3>
            </div>

            {{ form_start(form) }}
            <div class="box-body">
                {{ form_widget(form) }}
            </div>
            <div class="box-footer">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
</div>
{% endblock %}
